.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.tutorialWrapperLogo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logoBBVA {
  width: 100px;
}

.wrapperCarousel{
  padding: 3rem 3rem 0.4rem 3rem;
}

.wrapperCarousel .wrapperSlide {
  display: flex !important;
  flex-direction: column;
  justify-content: center  !important;
  align-items: center  !important;
  gap: 2rem;
  margin: 2rem 0px;
}
.wrapperCarousel .wrapperSlide p{
  font-size: 0.9rem;
  width: 500px;
  text-align: center;
}
.footerTutorialModal{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.footerTutorialModal img{
 width: 63px;
 height: 20px;
}